
@{
    ViewData["Title"] = "Email Verification";
}

<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>For Email Verification</h2>
                            <span>Please check your email to verify your account.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
